<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>

<body>
    <header>
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Team Members
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Ayush Kumar</a>
                      <a href="#">Abhinav Kumar</a>
                      <a href="#">Keshav Kamal</a>
                      <a href="#">Shreyam Nishesh</a>
                      <a href="#">Anshuman Bal</a>
                      <a href="#">Anunay Sinha</a>
                      <a href="#">Yash Raj</a>
                      <a href="#">Rahul Ranjan</a>
                      <a href="#">Abhishek Mahato</a>
                      <a href="#">Sambit Prusty</a>
                    </div>
                  </div>
            </ul>
        </div>
    </header>
    
    <div class="about-container">
        <h1>About The Project</h1>
        <br><br>
        <p>In 21st century era, we encounter various scenarios where we have to make judgement whether something is worth our time. Reviews analysis is an NLP based application that uses the concept of sentiment analysis to determine whether a certain video has good reviews/comments and is worth the consumer's time. NLP strives to build a machine that can understand and respond to text data, and respond with text of their own, very much in the same way as humans do.
        </p>
        <br><br>
    </div>
    

    <script src="static/work.js"></script>
</body>
</html>
