<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>

<body>
    <header>
        <div id="navbar">
            <!-- <img src="img/ak.jpg" alt="myonlinefood.com"> -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="/teamInfo">Team Members</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </header>
    
    <div class="about-container">
        <h1>About The Project</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus harum ullam velit accusantium quasi quo nostrum. Optio sequi veniam culpa officiis aliquam autem beatae officia rem explicabo ab magnam quam, reprehenderit molestiae accusantium voluptatem possimus amet ipsum animi numquam quia. Distinctio sed voluptates eos obcaecati.</p>
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sapiente harum porro ipsa explicabo. Ullam dicta quod consequatur sunt nostrum sit nisi dolores amet delectus natus facilis, atque reiciendis libero corporis et velit voluptatibus iste cum odit. Fugit nam, doloribus dolor ipsum quos at accusamus porro quis voluptatum dignissimos earum sapiente modi ducimus officia illum!</p>
    </div>
    

    <script src="static/work.js"></script>
</body>
</html>