<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>

<body>
    <header>
        <div id="navbar">
            <!-- <img src="img/ak.jpg" alt="myonlinefood.com"> -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/teamInfo">Team Members</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </header>
    <div class="c-container">
        <form action="backend.php" id="form">
            <h1>Contact Us</h1>
            <label for="name">Your Name:
                <div>
                    <input type="text"  id="name" placeholder="Enter your Name">
                </div>
            </label>
            <label for="email">Your E-mail:
                <div>
                    <input type="email" id="email" placeholder="Enter your E-mail address">
                </div>
            </label>
            <label for="contact no">Contact No.:
                <div>
                    <input type="text"  id="contact no" placeholder="Enter your contact number">
                </div>
            </label>
            </label>
            <label for="brief">Response or Suggestions:
                <div>
                    <textarea name="text" id="brief" cols="30" rows="10"></textarea>
                </div>
            </label>
            <button class="btn">Send</button>
        </form>
    </div>

    <script src="static/work.js"></script>
</body>
</html>