<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css" /> 
</head>

<body>
    <header>
        <div id="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Team Members
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Ayush Kumar</a>
                      <a href="#">Abhinav Kumar</a>
                      <a href="#">Keshav Kamal</a>
                      <a href="#">Shreyam Nishesh</a>
                      <a href="#">Anshuman Bal</a>
                      <a href="#">Anunay Sinha</a>
                      <a href="#">Yash Raj</a>
                      <a href="#">Rahul Ranjan</a>
                      <a href="#">Abhishek Mahato</a>
                      <a href="#">Sambit Prusty</a>
                    </div>
                  </div>
            </ul>
        </div>
    </header>
    <!-- Auto typing content -->
    <div class="container">
        <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
    </div>
      
    <!-- Action to the same route as in post method I added -->
    <div class="form-container">
        <form action="" method="POST">
            <h2>Enter YouTube Video URL</h2>
            <br><br>
            <input type="text" name="sen" id="sen" placeholder="URL Here">
            <br><br>
            <button class="button" type="submit">Check</button>
        </form>
    </div>

    <script src="static/work.js"></script>
</body>
</html>
