<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css" /> 
</head>

<body>
    <header>
        <div id="navbar">
            <!-- <img src="img/ak.jpg" alt="myonlinefood.com"> -->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/teamInfo">Team Members</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </header>
    <!-- Auto typing content -->
    <div class="container">
        <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
    </div>
      
    <!-- Action to the same route as in post method I added -->
    <div class="form-container">
        <form action="" method="POST">
            <h2>Enter A Sentence Below</h2>
            <br><br>
            <input type="text" name="sen" id="sen" placeholder="Your Sentence">
            <br><br>
            <button class="button" type="submit">Check</button>
        </form>
    </div>

    <script src="static/work.js"></script>
</body>
</html>